<div class="modal-background" *ngIf="modalState()" @showModal>
    <div class="modal-window modal-add-task">
        <div class="modal-header">
            <p class="modal-headertext-style">{{getData().Id > 0 ? 'Редактировать задачу': 'Добавить задачу'}}</p>
            <img class="button-fix close-button" src="assets/images/close.svg" (click)="Close()">
        </div>
        <div class="modal-body">
            <div class="add-task-block">
                <div class="input-container">
                    <input title="" type="text" class="input-style" [ngModel]="getData().TaskName"
                        (keyup)="sendTaskName($event)" required>
                    <label class="placeholder-prompt">Название</label>
                </div>
                <div class="input-container">
                    <input title="" type="text" value="{{getData().TaskStatus.Status}}" class="input-style list-input"
                        (click)="openList()" required disableTyping>
                    <label class="placeholder-prompt">Статус</label>
                    <img class="icon-abs-style list-style" src="assets/images/list.svg"
                        [ngStyle]="{'transform': listSelected()}">
                    <div class="modal-list" *ngIf="getStatusListState()" @showList>
                        <div class="list">
                            <div class="list-container" *ngFor="let status of getStatuses()"
                                (click)="onClickStatus(status)">
                                <p class="item-main">{{status.Status}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-container">
                    <textarea title="" class="description-input default" [ngModel]="getData().Description"
                        (keyup)="sendDescription($event)" required></textarea>
                    <label class="placeholder-prompt">Описание</label>
                </div>
            </div>
            <div class="modal-footer fix-footer">
                <save-button toolTip title="Сохранить" (click)="checkTaskValid(getData())"></save-button>
            </div>
        </div>
    </div>
</div>