<div class="selected-task-body">
    <ng-container *ngIf="getTask().Id > 0; else noIdText">
        <div class="selected-task-body-header">
            <p>Просмотр задачи</p>
        </div>
        <div class="selected-task-body-container">
            <div class="input-container">
                <input disableTyping title="" value="{{getTask().TaskName}}" class="input-style disabled" type="text"
                    required>
                <label class="placeholder-prompt">Название</label>
            </div>
            <div class="input-container">
                <input disableTyping value="{{getTask().TaskStatus.Status}}" class="input-style disabled" type="text"
                    required>
                <label class="placeholder-prompt">Статус</label>
            </div>
            <div class="selected-task-body-description">
                <div class="input-container">
                    <textarea disableTyping title="" class="description-input height disabled" required
                        disableTyping>{{getTask().Description}}</textarea>
                    <label class="placeholder-prompt">Описание</label>
                </div>
            </div>
            <div class="manage-task">
                <delete-button-big (click)="openDeleteModal(getTask())"></delete-button-big>
                <edit-button-big (click)="openEditModal(getTask())"></edit-button-big>
                <back-button (click)="cancellTaskWatch(getTask())"></back-button>
            </div>
        </div>
    </ng-container>
    <ng-template #noIdText>
        <p class="no-info">Кликните левой кнопкой мыши по задаче, чтобы посмотреть её детали</p>
    </ng-template>
</div>