<div class="chosen" [ngClass]="{'selected': task.isShowDescription}" *ngFor="let task of loadTasks()"
    (click)="showDescription(task)">
    <div class="info">
        <label class="checkbox-container">
            <input type="checkbox" [ngModel]="task.isCompleted" (change)="setStatus($event,task)">
            <span class="checkmark"></span>
        </label>
        <p class="heading">{{task.Id}}</p>
        <p class="heading">{{task.TaskName}}</p>
    </div>
    <div class="chosen-manage-block">
        <edit-button (click)="openEditModal(task)"></edit-button>
        <delete-button title="Удалить" toolTip (click)="deleteTaskById(task)"></delete-button>
    </div>
</div>