.chosen {
    border-bottom: 1px solid #eee;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 15px;
    transition: 0.2s;
    gap: 30px;
    position: relative;


    &:hover {
        background-color: rgba(0, 79, 158, 0.10);
        transition: 0.2s;
        cursor: pointer;
    }

    &-manage-block {
        display: flex;
        gap: 20px;
    }
}

.modal-list {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 40px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 15px 0px #c5c5c5;
    overflow: auto;
    max-height: 255px;
    right: 0;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #004F9E;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #003B77;
    }
}

.list {
    display: flex;
    flex-direction: column;

    &-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 15px;
        border-bottom: 1px solid #EEE;
        transition: 0.2s;
        cursor: pointer;
    }
}

.selected {
    background-color: #c3e1ff !important;
}

.info {
    display: flex;
    gap: 20px;
}