<div class="input-container">
    <input title="" [ngClass]="{'invalid-input': invalidCheckInput()}" type="text"
        value="{{value.Name || value.Status || value.FilterName}}" class="input-style list-input" (click)="openList()" required
        disableTyping>
    <label [ngClass]="{'placeholder-valid': invalidCheckInput()}" class="placeholder-prompt">{{placeholder}}</label>
    <img class="icon-abs-style list-style" src="assets/images/list.svg" [ngStyle]="{'transform': listSelected()}">
    <div class="modal-list" *ngIf="isOpen" @showList>
        <div class="list">
            <div class="list-container" *ngFor="let row of tableRow" (click)="onClickRow(row)">
                <p class="item-main">{{row.Name || row.Status || row.FilterName}}</p>
            </div>
        </div>
    </div>
</div>