<div class="form-container">
    <div class="form-header">
        <h4>Запланированные задачи</h4>
    </div>
    <form class="form-container-body">
        <div class="add-task-block">
            <div class="input-container">
                <input title="" type="text" class="input-style" [(ngModel)]="NewTask" name="NewTask" required>
                <label class="placeholder-prompt">Новая задача</label>
            </div>
            <button class="save-button" (click)="SaveTask(NewTask)" [ngClass]="{'disabled': !NewTask}"
                [disabled]="!NewTask">
                <p class="text-in-buttons">Добавить</p>
            </button>
        </div>
        <div class="container-chosen">
            <added-tasks></added-tasks>
        </div>
    </form>
</div>