.form-header {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
    border-bottom: 2px solid #004F9E;

    &-title {
        font-size: 21px;
        font-weight: 600;
        color: #000;
    }
}

.form-container {
    width: 100vh;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    border-radius: 10px;

    &-body {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.add-task-block {
    display: flex;
    gap: 10px;
    align-items: center;
}

.input-container {
    width: 100% !important;
}

.added-tasks-block {
    display: flex;
    flex-direction: column;
}

.container-chosen {
    overflow: auto;
    border: 1px solid #eee;
    border-radius: 5px;
    height: calc(100vh - 260px);
    transition: 0.2s;
    position: relative;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        margin: 5px;

    }

    &::-webkit-scrollbar-thumb {
        background-color: #004F9E;
        border-radius: 5px;
    }

    &.access {
        height: 392px;
    }
}