<div class="form-container">
    <div class="form-header">
        <h4>Запланированные задачи</h4>
    </div>
    <form class="form-container-body">
        <div class="add-task-block">
            <div class="input-container">
                <input title="" type="text" class="input-style" [(ngModel)]="NewTask" name="NewTask" required>
                <label class="placeholder-prompt">Новая задача</label>
            </div>
            <save-button Title="Добавить" (click)="SaveTask(NewTask)" [isDisable]="!NewTask"></save-button>
        </div>
        <div class="container-chosen">
            <div *ngIf="isLoading; else loader">
                <added-tasks></added-tasks>
            </div>
            <ng-template class="search-loading" #loader>
                <div class="search-loading-block">
                    <img src="assets/images/load.gif">
                </div>
            </ng-template>
        </div>
    </form>
</div>