<modal-task></modal-task>
<div class="form-container">
    <div class="form-header">
        <alternative-add-button (click)="openModal()"></alternative-add-button>
        <p class="form-header-title">Запланированные задачи</p>
    </div>
    <form class="form-container-body">
        <div class="container-chosen">
            <div *ngIf="isLoading; else loader">
                <added-tasks></added-tasks>
            </div>
            <ng-template class="search-loading" #loader>
                <div class="search-loading-block">
                    <img src="assets/images/load.gif">
                </div>
            </ng-template>
        </div>
    </form>
</div>