.main-header {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background: #004F9E;
  box-shadow: 0px 0px 15px 0px #c5c5c5;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;

  &-title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
  }
}

.nav-tab {
  display: flex;
  position: relative;
  justify-content: center;
  width: 90px;

  &-text {
    font-size: 17px;
    font-style: normal;

    &:hover+.tab-active {
      transform: scale(0.1);
      transition: transform 0.2s;
    }

    &:hover+.tab-active.active {
      transition: transform 0.2s;
      transform: scale(1);
    }
  }

  &-menu {
    display: flex;
    gap: 25px;
    flex: 1 0 0;
  }
}

.tab-active {
  position: absolute;
  top: 30px;
  transform: scale(1);
  transition: transform 0.2s;
  height: 1px;
  background-color: #fff;

  &.active {
    width: 100%;
    transition: 0.2s;
  }
}

p {
  color: #FFF;
  cursor: pointer;
}