<div class="selected-task-body">
    <ng-container *ngIf="getTask().Id > 0; else noIdText">
        <div class="selected-task-body-header">
            <h4>Просмотр задачи</h4>
        </div>
        <div class="selected-task-body-container">
            <div class="selected-task-body-description">
                <div class="input-container">
                    <textarea title="" class="description-input" required
                        disableTyping>{{getTask().Description}}</textarea>
                    <label class="placeholder-prompt">Описание</label>
                </div>
            </div>
            <div class="manage-cancell" (click)="cancellTaskWatch()">
                <cancell-button></cancell-button>
            </div>
        </div>
    </ng-container>
    <ng-template #noIdText>
        <p class="no-info">Нажмите двойным щелком мыши по задаче, чтобы посмотреть детали</p>
    </ng-template>
</div>